body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: #52b6e7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100vh);
}

.container {
    width: 80%;
    height: 70%;
    overflow: scroll;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.161);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.gobackreader:link {
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.161);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.gobackreader:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.238);
}

.gobackreader:visited {
    text-decoration: none;
    color: white;
}
