body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 80%;
    height: 70%;
    overflow: scroll;
    padding: 2em;
    border: 2px solid grey;
    border-radius: 15px;
    transform: translateY(-100vh);
}

.gobackreader:link {
    text-decoration: none;
    color: white;
}

.gobackreader:visited {
    text-decoration: none;
    color: white;
}
