body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: #52b6e7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100vh);
}

.container {
    color: black;
    width: 80%;
    height: 70%;
    overflow: scroll;
    padding: 2em;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.238);
}

.goback {
    cursor: pointer;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.goback:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.238);
}

.goback:active {
    text-decoration: none;
    color: black;
}

.goback:visited {
    text-decoration: none;
    color: black;
}

@media (max-width: 1000px) {
    .container {
        font-size: 2rem;
    }
    .goback {
        font-size: 2.5rem;
    }
}