body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: #52b6e7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: serif;
}

.selector {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    cursor: grab;
    align-items: center;
    user-select: none;
}

.selector h1 {
    font-size: 4rem;
}

.selector ul {
    padding: 0;
    font-size: 2rem;
    list-style-type: none;
}

@media (max-width: 1000px) {
    .selector {
        width: 80vw;
    }
    .selector h1 {
        font-size: 6rem;
    }
    .selector ul {
        font-size: 4rem;
    }
}

.divider {
    height: 15rem;
    width: 3px;
    background: white;
}

.selector li {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 100ms ease-in-out;
}

.selector li:hover {
    transform: translateX(8px);
}

.selector li::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background: white;
    transform-origin: left;
    transition: transform 100ms ease;
}

.selector li:hover::before {
    transform: scaleX(1);
}

.selector a {
    color: white;
}


.side-left {
    transform: translateX(-100vw);
}

.side-right {
    transform: translateX(100vw);
}

.down {
    transform: translateY(100vh);
}