body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: #52b6e7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.selector {
    position: absolute;
    display: flex;
    cursor: grab;
    align-items: center;
    user-select: none;
}

.selector h1 {
    font-size: clamp(4rem, 4vh, 10rem);
}

.selector h1::after {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background: white;
    position: absolute;
    left: 60%;
    top: -5%;
}

.selector ul {
    font-size: clamp(2rem, 2vh, 6rem);
    list-style-type: none;
}

.selector li {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 100ms ease-in-out;
}

.selector li:hover {
    transform: translateX(8px);
}

.selector li::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background: white;
    transform-origin: left;
    transition: transform 100ms ease;
}

.selector li:hover::before {
    transform: scaleX(1);
}

.selector a {
    color: white;
}

.posts {
    position: absolute;
    width: 80vw;
    padding: 30px;
    text-align: center;
    display: flex;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.161);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.238);
}

.posts a {
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: clamp(1rem, 2vh, 6rem);
    border-radius: 15px;
    transition: all 200ms ease-in;
    background-color: rgba(255, 255, 255, 0.138);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.238);
    text-align: start;
    padding-left: 1em;
}

.posts a:hover {
    background-color: rgba(255, 255, 255, 0.238);
}

.posts a:link, .selector a:link {
    text-decoration: none;
}

.posts a:visited, .selector a:visited {
    text-decoration: none;
}

.posts a:hover {
    text-decoration: none;
}

.goback {
    cursor: pointer;
    border: none;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: clamp(1rem, 1vh, 6rem);
    width: auto;
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.161);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.goback:hover {
    transform: translateY(-0.2ex);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.08);
}

.side-left {
    transform: translateX(-100vw);
}

.side-right {
    transform: translateX(100vw);
}

.down {
    transform: translateY(100vh);
}
