body {
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    background-color: #52b6e7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: serif;
}

.selector {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    cursor: grab;
    align-items: center;
    user-select: none;
}

.selector h1 {
    font-size: 4rem;
}

.selector ul {
    padding: 0;
    font-size: 2rem;
    list-style-type: none;
}

@media (max-width: 1000px) {
    .selector {
        width: 80vw;
    }
    .selector h1 {
        font-size: 6rem;
    }
    .selector ul {
        font-size: 4rem;
    }
}

.divider {
    height: 15rem;
    width: 3px;
    background: white;
}

.selector li {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 100ms ease-in-out;
}

.selector li:hover {
    transform: translateX(8px);
}

.selector li::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background: white;
    transform-origin: left;
    transition: transform 100ms ease;
}

.selector li:hover::before {
    transform: scaleX(1);
}

.selector a {
    color: white;
}

.posts {
    position: absolute;
    width: 80vw;
    padding: 30px;
    text-align: center;
    display: flex;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    font-family: sans-serif;
}

.posts a {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: clamp(1rem, 2vh, 6rem);
    border-radius: 15px;
    transition: all 200ms ease-in;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
    text-align: start;
    padding-left: 1em;
}

.posts a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.posts a:link,
.selector a:link {
    text-decoration: none;
}

.posts a:visited,
.selector a:visited {
    text-decoration: none;
}

.posts a:hover {
    text-decoration: none;
}

.goback {
    cursor: pointer;
    border: none;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: clamp(1rem, 1vh, 6rem);
    width: auto;
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.goback:hover {
    transform: translateY(-0.2ex);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.side-left {
    transform: translateX(-100vw);
}

.side-right {
    transform: translateX(100vw);
}

.down {
    transform: translateY(100vh);
}